   /* Altura fixa para o carrossel */
   #autoCarousel {
    height: 40vh; /* 60% da altura da tela */
    min-height: 400px;
}

/* Ajuste das imagens */
.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Mantém proporção e cobre a área */
    object-position: center;
}
.container-agendamento {
    width: 90%!important;
    max-width: 800px;
    min-height: 500px;
    position: relative;
}

/* Ajustes do calendário */
.calendar-background {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    width: 90%!important;
}

/* Dias do calendário */
.day {
    border: 1px solid #dee2e6;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    transition: all 0.3s ease;
}

.booked {
    background-color: rgba(25, 135, 84, 0.2);
    border-color: #198754;
    position: relative;
}

.booked::after {
    content: "✓";
    color: #198754;
    position: absolute;
    top: 2px;
    right: 5px;
}

/* Overlay de bloqueio */


/* Garanta que estas regras estão no seu arquivo CSS */
.lock-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.85);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    border-radius: 15px;
}

.alert-box{
    position:fixed;
  top:10vh;
  left:50vw;
  transform:translateX(-50%);
  z-index: 999999999;
  display: flex ;
  flex-direction: column;
  align-items: center;}


.selecionado {
    background-color: #198754;
}

.lock-overlay-hidden {
    display: none !important; /* Força a sobrescrita */
}

.calendar-background {
    position: relative;
    z-index: 1;
}


.toast {
    border-radius: 15px !important;
    border: none;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
    transform: translateY(100%);
    transition: transform 0.3s ease-out;
}

.toast.show {
    transform: translateY(-20px);

}

.toast {
    border-radius: 12px;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
    border: none;
}

.custom-tooltip {
    --bs-tooltip-bg: green;
    --bs-tooltip-color: var(--bs-white);
  }

.fade-out-animation {
    animation: fadeOut 3s ease-out forwards;
    opacity: 0;
}


footer {
    color:#dee2e6;
    border-top: 20px solid #09502f;
    height: 45vh;

    
}

footer a{
    color:#dee2e6;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}
#fatfooter{
    width: 90%!important;
    margin-left: 5%;
}

@keyframes fadeOut {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    20% {
        opacity: 1;
        transform: translateY(0);
    }
    80% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(20%);
    }
}

@media (min-width: 768px) {
    .custom-image-spacing {
        margin-right: 4rem;
        padding-right: 2rem;
        border-right: 2px solid #e9ecef; /* Opcional: linha divisória */
    }
}
